.container {
    text-align: center;
    margin: auto;
    width: 80%;
}

.hands {
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 2%;
    color: #F37121;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4rem;
    color: #D92027;
}

body {
    background-color: #5FDDE5;
}

p {
    font-size: 2rem;
}

img {
    width: 50%;
}

footer {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #D92027;
    margin: 2% 15%;
}